#container {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 0;
    width: 100%;
}

#content {
  margin-left:auto;
  margin-right:auto;
  height: 400px;
}

.name {
	font-size: 500%;
	font-family: "Century Gothic", sans-serif;
  text-align: center;
}

.tag {
	font-size: 125%;
	letter-spacing: .1em;
  text-align: center;
}

.main-menu-button {
  padding-top: 50px;
}

#vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}